.contact-page {
  text-align: center;
  padding: 80px;
  background-image: 
    linear-gradient(to bottom right, #3D6D8A, #3D6D8A),
    linear-gradient(
      to bottom right, 
      rgba(44, 174, 182, 0.63) 28%, 
      rgba(44, 174, 182, 1) 100%
    ),
    url('/images/bg-contact.png');
  background-size: cover;
  background-position: center;
  background-blend-mode: multiply, color, normal;
}

.contact-page h2 {
  font-family: 'Inter', sans-serif;
  font-weight: 300; 
  font-size: 50px;
  letter-spacing: 0.28em;
  text-align: center;
  color: white;
}

.contact-cards {
  display: flex;
  justify-content: center;
  gap: 45px;
}
