.navbar {
  position: fixed;
  display: flex;
  top: 0;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  box-sizing: border-box; 
  color: white;
  background-color: #2C5975;
  border-bottom: 4px solid #2CAEB6;
}

.navbar-links {
  list-style: none;
  display: flex;
  gap: 1rem;
}

.navbar-links li a {
  text-decoration: none;
  font-size: 1rem;
  color: white;
  transition: color 0.3s ease;
}

.navbar-links li a:hover {
  color: #ddd;
}