.hero-container {
  justify-content: space-between;
  padding: 0 8%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  
  background-image: url('/images/bg-hero3.jpeg');
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
}

  .hero-content {
    text-align: start;
    max-width: 60%;
    flex: 1;
    padding: 20px;
  }
  
  .hero-content h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.2rem;
    color: rgba(255, 255, 255, 0.844);
    transform: scaleY(1.2); /* Estira las letras verticalmente */
    font-weight: 400;
  }
  
  .hero-content p {
    font-family: "Source Sans 3", sans-serif;
    font-weight: 100;
    margin-top: 20px;
    font-size: 1.2rem;
    color: rgba(255, 255, 255, 0.929);
    padding-bottom: 15px;
  }
  
  .hero-images {
    position: relative;
    max-width: 40%;
    flex: 1;
    margin: 0; 
    padding: 0; 
  }
  
  .main-image {
    width: 100%;
    border-radius: 10px;
  }
  
  .secondary-image {
    position: absolute;
    bottom: -20px;
    right: -20px;
    width: 40%;
    border: 2px solid #fff;
    border-radius: 5px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  @media (max-width: 1024px) {
    .hero-container {
      flex-direction: column;
      align-items: center;
    }
  
    .hero-content {
      max-width: 100%;
      text-align: center;
    }
  
    .hero-images {
      max-width: 100%;
      margin-top: 20px;
      position: relative;
    }
  
    .main-image {
      width: 100%;
      border-radius: 10px;
    }
  
    .secondary-image {
      width: 30%;
      bottom: 0;
      right: -15px;
      top: 50%;
      transform: translateY(-50%);
      position: absolute;
      border: 2px solid #fff;
    }
  }
  
  @media (max-width: 768px) {
    .hero-container {
      padding: 8% 5%;
    }
  
    .hero-content h1 {
      font-size: 2rem;
    }
  
    .hero-content p {
      font-size: 1rem;
    }
  
    .hero-images {
      margin-top: 20px;
    }
  
    .secondary-image {
      width: 25%;
      right: 0;
      bottom: -10px;
      top: auto;
      transform: none;
    }
  }
  
  @media (max-width: 480px) {
    .hero-content h1 {
      font-size: 1.8rem;
    }
  
    .hero-content p {
      font-size: 0.9rem;
    }
  
    .secondary-image {
      width: 20%;
      right: 0;
      bottom: -10px;
      top: auto;
      transform: none;
    }
  }
  

  .btn-hero {
    background-color: #244E7B;
    color: white; 
    padding: 6px 20px; 
    border: none; 
    border-radius: 4px; 
    font-size: 15px; 
    transition: background-color 0.3s ease; 
    cursor: pointer; 
    text-decoration: none;
    margin-top: 20px;  
    align-self: center;  
  }
  
  .btn-hero:hover {
    background-color: #2daeb7;
  }
  