.suaje-section {
  display: flex;
  flex-direction: column;
  gap: 80px;
  padding: 50px;
}

.suaje-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}

.suaje-item:nth-child(even) .suaje-image {
  order: -1;
}

.suaje-image {
  width: 70%;
  height: 180px;
  object-fit: cover;
}

.suaje-content {
  width: 55%;
}

.suaje-content h2 {
  text-align: start;
  margin-bottom: 10px;
  font-size: 1.8rem;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
  color: #2C5975;
}

.suaje-content p {
  margin: 0;
  line-height: 1.5;
  text-align: left;
  font-family: "Roboto", sans-serif;
  font-size: 1.2rem;
  font-weight: 300;
  font-style: normal;
  color: #2C5975;
}