.location-container {
    display: grid;
    grid-template-columns: 1.5fr 3fr;
    min-height: 450px;
}

.address-section {
    background-color: #244e7b;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 5%;
    text-align: justify;
}

.map {
    background-color: rgb(194, 194, 194);
}

.p-primary {
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.p-secondary {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.p-tertiary {
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 100;
    font-style: normal;
}

@media (max-width: 768px) {
    .location-container {
        grid-template-columns: 1fr;
        min-height: auto;
    }

    .address-section {
        padding: 5% 5%;
        text-align: center;
        justify-content: flex-start;
    }

    .location-text {
        font-size: 16px;
        text-align: center;
    }

    .btn {
        width: 100%;
        margin-top: 10px;
    }
}

@media (max-width: 480px) {
    .location-text {
        font-size: 14px;
    }
}