.services-container {
  padding: 50px;
}

.cards-container {
  display: flex;
  justify-content: space-between;
}

.card {
  border: 2px solid #42b7ca;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 3px;
}

.card {
  margin-right: 30px;
}

.cards-container .card:last-child {
  margin-right: 0;
}

.card h2{
    font-family: 'Montserrat Alternates', sans-serif; 
    font-weight: 600;
    color: #42B7CA;
}
