.services-container {
  font-family: "Montserrat Alternates", sans-serif;
  background-color: #fdfdff;
}

.services-container h1 {
  color: #244e7b;
  font-size: 3rem;
  text-align: center;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3.2rem;
  padding-bottom: 5%;
}

.card {
  border: 2px solid #244e7b6d;
  border-radius: 5px;

  padding: 45px 20px 45px 20px;
  max-width: 300px;

  text-align: center;

  transition: transform 0.3s ease;
  background-color: #ffffff;
  flex-basis: 20%;
}

.card img {
  max-width: 100%;
  height: auto;
}

.card h2 {
  font-weight: 600;
  min-height: 60px;
  color: #244e7b;
  font-size: 1.3rem;
}

.card p {
  font-weight: 400;
  color: #244e7bac;
  font-size: 1rem;
}

@media (max-width: 1440px) {
  .card {
    flex-basis: 25%;
    max-width: 250px;
  }
}

@media (max-width: 1024px) {
  .card {
    flex-basis: 33.33%;
    max-width: 220px;
  }

  .cards-container {
    gap: 1.5rem;
  }

  .card h2 {
    font-size: 1.8rem;
  }

  .card p {
    font-size: 1.2rem;
  }
}

@media (max-width: 768px) {

  .services-container h1 {
    font-size: 2rem;
  }

  .cards-container {
    flex-direction: column;
    align-items: center;
  }

  .card h2 {
    font-size: 1.5rem;
  }

  .card p {
    font-size: 1.1rem;
  }
}