.gallery-container {
    display: flex;
    flex-direction: row;
    padding: 5% 10% 5% 10%;
}

.thumbnails {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.thumbnail {
    width: 100%;
    height: 100px; 
    min-width: 500px;
    cursor: pointer;
    object-fit: cover;
    opacity: 0.5; 
    transition: opacity 0.3s;
}

.thumbnail.active {
    opacity: 1; 
}

.expanded-image-container {
    flex: 3;
    margin-left: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.expanded-image {
    width: 100%;
    object-fit: cover;
    height: calc(100px * 4 + 10px * 3); 
    max-height: calc(100px * 4 + 10px * 3);
}
