/* ContactCard.scss */

.services-container {
  font-family: "Montserrat Alternates", sans-serif;
  padding: 50px;
}

.contact-card {
  border-radius: 8px;
  padding: 20px;
  margin: 10px;
  text-align: center;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 300px; /* Limita el ancho máximo de la tarjeta */
  position: relative; /* Para posicionar la línea azul interna */
}

.contact-card::before {
  content: "";
  position: absolute;
  top: 20px;
  bottom: 20px;
  left: 20px;
  right: 20px;
  border: 1px solid #00bfff; /* Línea azul interna */
  border-radius: 8px;
}

// .contact-card .icon {
// }

.contact-card .contact-info h3 {
  font-family: "Montserrat", sans-serif;
  color: #2c5975;
  font-weight: bold;
  font-size: 1em;
  margin: 0;
}

.contact-card .contact-info p {
  margin: 0;
  color: rgba(44, 89, 117, 0.8)
}

.contact-card .email,
.contact-card .phone {
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.04); 
  border-radius: 5px;
  padding: 5px;
  margin: 5px 0;
}

.contact-card .email span,
.contact-card .phone span {
  color: rgba(44, 89, 117, 0.8)
}
